AplicacionCliente/Datos_Calidad/Service References/ServicioCalidad/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://servicio.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcfdatos" />
  <xs:element name="ObtenerDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoEPS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcfdatos" minOccurs="0" name="ObtenerDatosResult" nillable="true" type="q1:ArrayOfDato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarObjetos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Opcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarObjetosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcfdatos" minOccurs="0" name="CargarObjetosResult" nillable="true" type="q2:ArrayOfCargarDatos.CargaDatos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargueEncuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pregunta" type="xs:int" />
        <xs:element minOccurs="0" name="respuesta" type="xs:int" />
        <xs:element minOccurs="0" name="Codigo_EPS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargueEncuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargueEncuestaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Carga_Barra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EPS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Carga_BarraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcfdatos" minOccurs="0" name="Carga_BarraResult" nillable="true" type="q3:ArrayOfCargaBarra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Carga_Torta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EPS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Carga_TortaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcfdatos" minOccurs="0" name="Carga_TortaResult" nillable="true" type="q4:ArrayOfCargaBarra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>