AplicacionCliente/Datos_Calidad/Service References/ServicioCalidad/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://servicio.azurewebsites.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://servicio.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://servicio.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcfdatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ObtenerDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatos" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CargarObjetos_InputMessage">
    <wsdl:part name="parameters" element="tns:CargarObjetos" />
  </wsdl:message>
  <wsdl:message name="IService1_CargarObjetos_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargarObjetosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CargueEncuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:CargueEncuesta" />
  </wsdl:message>
  <wsdl:message name="IService1_CargueEncuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargueEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Carga_Barra_InputMessage">
    <wsdl:part name="parameters" element="tns:Carga_Barra" />
  </wsdl:message>
  <wsdl:message name="IService1_Carga_Barra_OutputMessage">
    <wsdl:part name="parameters" element="tns:Carga_BarraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Carga_Torta_InputMessage">
    <wsdl:part name="parameters" element="tns:Carga_Torta" />
  </wsdl:message>
  <wsdl:message name="IService1_Carga_Torta_OutputMessage">
    <wsdl:part name="parameters" element="tns:Carga_TortaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ObtenerDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerDatos" message="tns:IService1_ObtenerDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerDatosResponse" message="tns:IService1_ObtenerDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CargarObjetos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CargarObjetos" message="tns:IService1_CargarObjetos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CargarObjetosResponse" message="tns:IService1_CargarObjetos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CargueEncuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CargueEncuesta" message="tns:IService1_CargueEncuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CargueEncuestaResponse" message="tns:IService1_CargueEncuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Carga_Barra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Carga_Barra" message="tns:IService1_Carga_Barra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Carga_BarraResponse" message="tns:IService1_Carga_Barra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Carga_Torta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Carga_Torta" message="tns:IService1_Carga_Torta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Carga_TortaResponse" message="tns:IService1_Carga_Torta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatos">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarObjetos">
      <soap:operation soapAction="http://tempuri.org/IService1/CargarObjetos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargueEncuesta">
      <soap:operation soapAction="http://tempuri.org/IService1/CargueEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Carga_Barra">
      <soap:operation soapAction="http://tempuri.org/IService1/Carga_Barra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Carga_Torta">
      <soap:operation soapAction="http://tempuri.org/IService1/Carga_Torta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatos">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarObjetos">
      <soap:operation soapAction="http://tempuri.org/IService1/CargarObjetos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargueEncuesta">
      <soap:operation soapAction="http://tempuri.org/IService1/CargueEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Carga_Barra">
      <soap:operation soapAction="http://tempuri.org/IService1/Carga_Barra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Carga_Torta">
      <soap:operation soapAction="http://tempuri.org/IService1/Carga_Torta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://servicio.azurewebsites.net/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://servicio.azurewebsites.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>